# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment folders
venv/
.env/

# Logs
logs/
*.log

# DVC files (if used)
*.dvc

# OS junk
.DS_Store
Thumbs.db

# Ignore MLflow artifacts and local tracking DB
mlruns/
mlflow_db/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and build files
*.egg-info/
dist/
build/

# Temp files
*.tmp

# Images and generated reports
*.png
*.jpg
*.jpeg
*.pdf
*.json

# Model artifacts (safe to ignore)
artifacts/
mlartifacts/
